.carousel {

    position: relative;
    padding: 10px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 400px;
    height: auto;

    .imagesContainer {
        height: fill-available;
        width: fill-available;
        max-height: inherit;
        max-width: inherit;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        border-radius: 20px;

        .image {
            height: 100%;
            transition: 0.3s ease;
            min-width: 100%;
        }
    }

    .sliderNav {
        position: absolute;
        width: max-content;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        .sliderNavlink {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            border: 1px #fff solid;
            background-color: #333;
            opacity: 1;
            margin: 0 5px;
            cursor: pointer;
        }

        .slideActive {
            background-color: #fff;
            border: 1px #333 solid;
        }
    }
}