.wrapper {
    position: relative;
    background-color: #1D3D4F;
    height: 100px;
    padding: 10px;

    .header {
        position: relative;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
        width: 100%;
        background-color: #1D3D4F;
        color: white;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        width: 70%;
        font-size: 1rem;
        font-weight: 500;
        font-family: "Roboto Thin", sans-serif;
    }

    .imageWrapper {
        position: relative;
        height: 70px;
        width: 70px;
        object-fit: fill;
        left: 20px;

        .image {
            position: relative;
            height: 100%;
            width: 100%;
        }
    }
}