.wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;

    .buttons {
        max-width: 400px;
        display: flex;
        gap: 15px;
        z-index: 2;
        margin: 20px;

        .column {
            width: 50%;
        }
    }

    .carouselWrapper {
        border-top: 2px solid white;
        position: relative;
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00362B;
    }

    .textWrapper {
        margin: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        font-family: "Roboto Slab", sans-serif;
        background-color: #00362B;

        .text {
            border: solid white 1px;
            padding: 10px;
        }
    }

    .backgroundImage {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 400px;
            padding: 10px;
            object-fit: cover;
            aspect-ratio: 1 / 1;
            width: 100%;
            height: auto;

        }
    }
}