.wrapper {
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-blue);

    .buttons {
        max-width: 400px;
        display: flex;
        gap: 15px;
        z-index: 2;
        margin: 20px;
        justify-content: center;

        .column {
            width: 45%;
        }
    }

    .carouselWrapper {
        border-top: 2px solid white;
        position: relative;
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textWrapper {
        margin: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        font-family: "Roboto Slab", sans-serif;

        .text {

        }
    }

    .backgroundImage {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
            max-width: 500px;
            padding: 0;
            object-fit: contain;
            aspect-ratio: 1 / 1;
            width: 100%;
            height: auto;

        }
    }
}