.main {
    position: relative;
    height: 100vh;
    overflow: scroll;
    margin: 10px;

    .header {

    }

    .home {

    }

    .footer {

    }

    .paragraph {

    }

    .topMenuBar {
        height: 80px;
        width: 100%;
        top: 0px;
        z-index: 10000;
        background-color: aquamarine;
        position: sticky;
    }
}