
.header {
}

.home {
    width: 100%;
    height: 100vh;
    background-color: #00362B;
}

.footer {

}

.paragraph {

}

.topMenuBar {
    height: 80px;
    width: 100%;
    top: 0px;
    z-index: 10000;
    position: sticky;
}
